body {
    background-color: #e0c7d5c5;
    color: black;
    font-family: "Oxygen", 'Sans';
}
h2 {
    margin-bottom: 20px;
    font-family: courier;
    font-weight: bold;
    text-decoration: underline;
}
#header-nav {
    background-color: grey;
    border-top: none; /* add this rule */
    border: 2px solid rgb(0, 0, 0); /* keep the original border-bottom style */
    border-radius:0;
   height: 60px;
}

.container {
    position: absolute;
}

#navbar-title, #navbar-title h1 {
    font-family: courier;
    color: black;
    font-weight: bold;
}

p {
    margin: 0px 0px 20px 0px;
    text-indent: 4px;
    padding: 10px;
}

 #p1,#p2, #p3 {
    background-color: grey;
    text-align: center;
    height: 1000px;
    margin: 15px;
}

/*title colors are called burnt*/
#burnt3 {
    font-family: 'Sans';
    font-weight: bold;
    background-color: rgb(84, 35, 130);
}
#burnt2 {
    font-family: 'Sans';
    font-weight: bold;
    background-color: rgba(137, 43, 226, 0.467);
}
#burnt {
    font-family: 'Sans';
    font-weight: bold;
   /* background-color: rgba(90, 24, 106, 0.586); */   
}
h1 {
    margin: 0;
    margin-top: 7px;
    font-size: 175%;
}

/*Making nav bar collapse testing*/
@media (max-width: ${grid-float-breakpoint}) {
    #header-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(161, 23, 23);
    }
}
.navbar-scroll-hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/*I am still a noob so reg browser media quieries go here*/

/* for mobile view drop down menu */

@media (min-width: 577px) {
    .navbar-toggle {
        display: none;
    }
}